body {
    margin: 0px;
    width: 100%;
    height: 100%;
}
html {
    scroll-behavior: smooth;
}
.whats {
    position: fixed;
    top: 88%;
    left: 94%;
    padding: 10px;
    z-index: 10000000;

}
.wpp {
    position: fixed;
    top: 88%;
    left: 84%;
    padding: 10px;
    z-index: 10000000;
    background-color: #34af23;
    border-radius: 10px;
    height: 18px;
    width: 168px;
    font-weight: 700;
    font-size: 12pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-transform: uppercase;   
    text-align: center; 
    display: none;
}
@media(max-width: 1500px){
    .wpp {
        left: 80%;
        top: 91%
    }
}
.whats:hover .wpp{
    display: block;
}
nav {
    background-color:#536BC1;
    height: 55px;
    margin: 0px;
    position: fixed;
    width: 100%;
    z-index: 2000;
}

nav a {
    text-decoration: none;
    font-size: 15px;
    font-family: helvetica;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin-left: 15px;
    transition: color 0.4s ease;
    }

nav ul li {
    display: inline-block;
    float: right;
    margin-right: 15;
    margin-top: 3px;
    height: 30px;
}

.welcome {
    background-image: url(fotos/fundo.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}
.logo {
    margin-top: -15px;
}
.fa-angle-double-down {
    font-size: 120px;
    text-align: center;
    width: 100%;
    color: #fff;
    margin-top: -200px;
    animation: mexer .9s infinite;

}
@keyframes mexer {
    0%, 100%{
        margin-top: -200px;
        
        
    }
    50% {
        margin-top: -150px;
        
    }
}
.bemvindo {
    color: white;
    font-size: 80pt;
    font-family: tahoma;
    font-weight: 800;
    width: 100%;
    text-align: center;
    margin-top: -400px;
    
}
.welcome1 {
    text-align: center;
    font-weight: 450;
    color: white;
    font-size: 24pt;
    font-family: tahoma;
    margin-top: -14px;
}
fundo1 {
    background-image: url(fotos/fundo1.jpg);
    width: 100%;
    height: 912px;
    margin-top: 450px;

}
.comeco {
    margin: 0 auto;
    width: 1280px;
    position: relative;
}
.intro {
    width: 100%;
    font-weight: 700;
    font-size: 40pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 300px;
    text-align: center;
    color: #536BC1;
    animation: textu .9s;
    
}
h3 {
    width: 100%;
    text-align: center;
    font-size: 15pt;
    font-family: verdana;
    margin-top: 100px;
    font-weight: 150;
    position: absolute;
}
h3::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    color: #536BC1;
    font-weight: 700;
    animation: pisca .5s infinite;
}
@keyframes pisca { 
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
@keyframes textu {
    0%{
        opacity: 0;
       
    }
    100% {
        opacity: 1;;
        
        
    }
}
.flex-container {
    display: flex;
    margin-top: 200px;
}
  
  .flex-container > div {
    background-color: rgba(235, 235, 235, 0.9);
    width: 100%;
    height: 300px;
    margin: 30px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    display: inline-block;
    align-items: center;
    transition: transform .2s;
    border-radius: 1px;
    box-shadow: 8px 20px 20px rgba(0, 0, 0, 0.199);
  }
  .flex-container > div:hover {
    -ms-transform: scale(1.10); /* IE 9 */
    -webkit-transform: scale(1.10); /* Safari 3-8 */
    transform: scale(1.15); 
    box-shadow: 0 5px 0 #536BC1; 
}

  .fa-wifi {
      color: #536BC1;
      padding: 20px;
      font-size: 100px;
  }
  .fa-video {
    color: #536BC1;
    padding: 20px;
    font-size: 100px;
  }
  .fa-network-wired {
    color: #536BC1;
    padding: 20px;
    font-size: 100px;
  }
  .fa-desktop {
    color: #536BC1;
    padding: 20px;
    font-size: 100px;
  }
  .fa-tools {
    color: #536BC1;
    padding: 20px;
    font-size: 100px;
  }
  .fa-phone-volume {
    color: #536BC1;
    padding: 20px;
    font-size: 100px;
  }
  .wifi {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 15pt;
    text-transform: uppercase;
    margin-top: 30px;
    color: black;
  }
  .wifi1 {
    font-family: verdana;
    font-size: 11pt;
    font-weight: 150;
    color: black;
    margin-top: 30px;
  }
  .flex-container1 {
    display: flex;
    margin-top: 30px;
}
  
  .flex-container1 > div {
    background-color: rgba(235, 235, 235, 0.99);
    width: 100%;
    height: 300px;
    margin: 30px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    display: inline-block;
    align-items: center;
    border-radius: 1px;
    transition: transform .2s;
    box-shadow: 8px 20px 20px rgba(0, 0, 0, 0.315);

  }
  .flex-container1 > div:hover {
    -ms-transform: scale(1.10); /* IE 9 */
    -webkit-transform: scale(1.10); /* Safari 3-8 */
    transform: scale(1.15);
    box-shadow: 0 5px 0 #536BC1; 
  }
  .planos {
    width: 100%;
    font-weight: 700;
    font-size: 40pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
    animation: textu .9s;
    margin-top: 90px;
  }
  .flex-container2 {
    display: flex;
    margin-top: 30px;
}
  
  .flex-container2 > div {
    background-color: white;
    width: 100%;
    height: 450px;
    margin: 30px;
    text-align: center;
    font-size: 30px;
    display: inline-block;
    align-items: center;
    border-radius: 15px;
    box-shadow: inset -1px 200px 0px -95px rgba(235, 235, 235, 0.9);

  }
.plano {
    margin-top: 20px;
}
.planot {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 30px;
}
.planosub {
    font-family: tahoma;
    font-size: 10pt;
    text-align: left;
    margin-top: -250px;
    margin-left: 10px;
}
.preco {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    margin-top: 160px;
}
.euquero {
    border: none;
    border-radius: 24px;
    background-color: #536BC1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: white;
    width: 100px;
    height: 45px;
    font-size: 16pt;
    margin-top: 30px;
    cursor: pointer;
}
.euquero:hover {
    background-color: rgb(22, 39, 98);
}
.fundo2 {
    background-image: url(fotos/fundo2.jpg);
    width: 100%;
    height: 920px;
    margin-top: -850px;
    background-size: cover;
}
.fundo3 {
    width: 100%;
    height: 50px;
    background-color: black;
    margin-top: -50px;
}
.cep {
    color: white;
    font-weight: 700;
    font-size: 15pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    width: 59%;
    display: inline-block;
    margin-left: 20px;

}
.flex-container3 {
    display: flex;
}
  
  .flex-container3 > div {
    height: 50px;
    display: inline-block;
    margin-left: 66px;
    margin-top: -36px;

  }
.cep2 {
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 12pt;
    cursor: pointer;
    height: 20.5px;
    margin-left: 180px;
    margin-top: -22px;
}
.flex-container4 {
    display: flex;
    margin-top: 50px;
}
  
  .flex-container4 > div  {
    background-color:white;
    width: 100%;
    height: 390px;
    margin: 30px;
    text-align: center;
    font-size: 30px;
    display: inline-block;
    align-items: center;
    border-radius: 15px;
  }
.central {
    font-weight: 700;
    font-size: 34pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #536BC1;
    animation: textu .50s;
}   
.info {
    text-align: left;
    font-size: 15pt;
    font-family: verdana;
    margin-top: 55px;
    font-weight: 450;
    width: 650px;
    
}
.caso {
    font-size: 8pt;
    font-family: verdana;
    margin-top: 30px;
    text-align: center;
} 
.contrato {
    background-color: white;
    margin-top: -180px;
    margin-left: 330px;
    width: 165px;
    height: 45px;
    border-radius: 24px;
    border: black;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
    cursor: pointer;

}
.contrato:active {
    box-shadow: none;
}
.fa-file-signature {
    color: #536BC1;
    font-size: 16pt;
}
.fa-user {
    color: #536BC1;
    font-size: 65px;
    margin: 20px;
}
.identifique {
    font-weight: 700;
    font-size: 22pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #536BC1;
    text-transform: uppercase;
    margin: 13px;
}
.cadastro input {
    height: 35px;
    width: 350px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    box-shadow: 0 4px 0 #536BC1;
    margin: 18px;
}
.cadastro {
    border: none;

}
.entre {
    border: none;
    border-radius: 24px;
    background-color: #536BC1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: white;
    height: 45px;
    font-size: 16pt;
    margin: 53px;
    width: 115px;
}
.azul {
    height: 390px;
    margin-top: -360px;
    margin-left: 783px;
}
@media(max-width: 1500px){
    .entre {
        margin: 20px;
    }
}
.flex-container5 {
    display: flex;
    margin-top: 30px;
}
  
  .flex-container5 > div  {
    background-color:white;
    width: 100%;
    height: 296px;
    margin: 12px;
    font-size: 30px;
    display: inline-block;
    border-radius: 15px;

  }
  .mensagem {
    font-weight: 700;
    font-size: 22pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #536BC1;
    animation: textu .50s;
    text-transform: uppercase;   
    width: 100%;
    margin-left: 27px;
}
.nome input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    width: 297px;
    height: 28px;
    border: 3px solid #536BC1;
    margin-left: 27px;
    text-transform: capitalize;
}
.fone {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    width: 198px;
    height: 28px;
    border: 3px solid #536BC1;
    margin-top: -28px;
    margin-left: 339px;
}
.recado {
    width: 694px;
    height: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    width: 510px;
    height: 150px;
    border: 3px solid #536BC1;
    margin-left: 27px;
    margin-top: 15px;

}
.email {
    margin-top: 15px;
}
.email input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    width: 410px;
    height: 28px;
    border: 3px solid #536BC1;
    margin-left: 27px;
}
.nome {
    border: none;
    margin-top: 30px;

}
.enviar {
    border: none;
    background-color: #536BC1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: white;
    margin-top: -28px;
    margin-left: 452px;
    width: 85px;
    height: 28px;
    font-size: 14pt;
}
.fa-map-marker-alt {
    color: #536BC1;
    font-size: 55px;
    margin-top: 30px;
    margin-left: 27px;
}
.fa-envelope {
    color: #536BC1;
    font-size: 55px;
    margin-top: 50px;
    margin-left: 27px;
}
.fa-phone-alt {
    color: #536BC1;
    font-size: 55px;
    margin-top: 50px;
    margin-left: 27px;
}
.local {
    font-family: verdana;
    display: flex;
    font-size: 14pt;
    margin-top: -49px;
    margin-left: 100px;
}
.tel {
    font-family: verdana;
    font-size: 14pt;
    margin-left: 100px;
    margin-top: -49px;
}
.envelope {
    font-family: verdana;
    font-size: 14pt;
    margin-top: -50px;
    margin-left: 100px;
}
.socias {
    font-weight: 700;
    font-size: 22pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #536BC1;
    text-transform: uppercase;   
    width: 100%;
    text-align: center; 
    margin-top: 55px;
}
.icones {
    color: black;
    text-align: center;
    font-size: 35pt;
    margin-top: 20px;
}
.fa-google-plus-square {
    color: #db4a39;
    transition: all 1s;
}
.Fa-instagram-square {
    color: rgb(225,48,108);
    transition: all 1s;
}
.fa-facebook-square {
    color: #3b5998;
    transition: all 1s;
}
footer {
    display: flex;
    margin-top: 30px;
}
  
footer > div {
    background-color:#3b5998;   
    width: 100%;
    height: 90px;
    margin-top: 60px;
    text-align: center;
    font-size: 30px;
    display: inline-block;
    align-items: center;
  }
.rodape {
    margin-top: 10px;
}
.direito {
    color: white;
    font-size: 8pt;
    font-family: Arial;
    margin-top: 10px;
}
.mapa {
    margin-top: 35px;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #536BC1;

}
.fa-facebook-square:hover {
    -webkit-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}
.fa-instagram-square:hover {
    -webkit-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}
.fa-google-plus-square:hover {
    -webkit-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
}
.ativo {
    color: yellow;
}